absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altair==6.0.0
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
astunparse==1.6.3
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
build==1.3.0
cachetools==6.2.6
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cmake==4.1.2
colorama==0.4.6
contourpy==1.3.3
crazymeow==0.2.5
curl_cffi==0.13.0
cycler==0.12.1
dataclasses-json==0.6.7
distro==1.9.0
dlib==20.0.0
docutils==0.22.3
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss-cpu==1.13.2
filelock==3.20.3
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
flatbuffers==25.9.23
fonttools==4.60.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.2.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.46
google-pasta==0.2.0
greenlet==3.2.4
groq==1.0.0
grpcio==1.76.0
guedo @ file:///C:/Users/91938/Desktop/sayam/ee
guedo-ee @ file:///C:/Users/91938/Desktop/sayam/ee/dist/guedo_ee-0.1.2-py3-none-any.whl#sha256=87e7e223071832cb4e17bbe852d0a3a5b3a3c6228b42c69d315f767572e7b774
h11==0.16.0
h5py==3.15.1
hf-xet==1.2.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.4.1
id==1.5.0
idna==3.11
imutils==0.5.4
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kagglehub==0.3.13
keras==3.12.0
keyring==25.7.0
kiwisolver==1.4.9
lancode @ file:///C:/Users/91938/Downloads/lancode
langchain==1.2.9
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.9
langchain-text-splitters==1.1.0
langgraph==1.0.8
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.4
langsmith==0.6.9
libclang==18.1.1
llvmlite==0.44.0
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.7
mdurl==0.1.2
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.7.1
multitasking==0.0.12
mypy_extensions==1.1.0
mysql-connector-python==9.5.0
namex==0.1.0
narwhals==2.16.0
networkx==3.6.1
# Editable install with no version control (neuralnet-custom==1.0.0)
-e c:\users\91938\desktop\sayam\custom
nh3==0.3.2
nltk==3.9.2
numba==0.61.2
numpy==2.2.6
openai==2.20.0
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.18.0
orjson==3.11.7
ormsgpack==1.12.2
packaging==25.0
pandas==2.3.3
pandas-ta==0.4.71b0
peewee==3.19.0
pillow==11.3.0
platformdirs==4.5.1
plotly==6.5.2
propcache==0.4.1
protobuf==6.33.1
pyarrow==23.0.0
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.2
pyparsing==3.2.5
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
readme_renderer==44.0
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.16.3
sentence-transformers==5.2.2
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.44
streamlit==1.54.0
sympy==1.14.0
ta==0.11.0
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
textblob==0.19.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tk==0.1.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
tornado==6.5.4
tqdm==4.67.1
transformers==5.1.0
twine==6.2.0
typer-slim==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.5.0
uuid_utils==0.14.0
vaderSentiment==3.3.2
watchdog==6.0.0
webencodings==0.5.1
websockets==16.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==2.0.1
xxhash==3.6.0
yarl==1.22.0
yfinance==1.1.0
zstandard==0.25.0
